*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
main{
    max-width: 1000px;
    margin: 0 auto;
}
body{
    padding: 10px;
}
.text-light{
    color: white;
}
.text-gray{
    color: gray;
}
.text-center{
    text-align: center;
}
.cloud{
    background-color: black;
    padding: 20px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.marg{
    margin: 5px;
}
.radius{
    border-radius: 20px;
}
.img{
    margin: 20px;
    border-radius: 50%;
}
.name-display{
    display: flex;
}
.name-box{
    margin: auto 0;
}

.box-sm{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.box-lg{
    margin: 10px auto;
    display: flex;
    gap: 10px;
}

.box-slider{
    border: 1px solid black;
    padding: 40px;
}
.slider{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider img{
    margin: 5px;
}
.blured{
    filter: opacity(50%);
}