*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}
.text-light{
    color: white;
}
.text-gray{
    color: gray;
}
.cloud{
    background-color: black;
    padding: 20px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.marg{
    margin: 5px;
}
.radius{
    border-radius: 20px;
}
.img{
    margin: 20px;
    border-radius: 50%;
}
.name-display{
    display: flex;
}
.name-box{
    margin: auto 0;
}

.box-sm{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.box-lg{
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}